.review-section {
    width: full-width;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  .review {
    margin-bottom: 20px;
  }
  
  .review-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .review-name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .review-rating .star {
    color: #FEBF0F;
    font-size: 16px;
  }
  
  .review-text {
    margin: 0;
  }